.header__auth-link{
    text-decoration: none;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    align-self: center;
    padding-left: 24px;
}