.popup__content-new-card{
    position: relative;
    max-width: 430px;
    min-width: 430px;
    min-height: 330px;
    background-color: white;
    border-radius: 10px;
    padding: 36px;
    box-sizing: border-box;
}
@media all and (max-width: 521px){
    .popup__content-new-card{
        min-width: 282px;
        padding: 23px;
    }
}
