@import url("./vendor/normalize.css");
@import url("./fonts/Inter/inter.css");
@import url("./blocks/content/content.css");
@import url("./blocks/page/page.css");
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__logo-link/header__logo-link.css");
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__avatar-edit/profile__avatar-edit.css");
@import url("./blocks/profile/__avatar-edit-icon/profile__avatar-edit-icon.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__title/profile__title.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");
@import url("./blocks/profile/__edit-button/profile__edit-button.css");
@import url("./blocks/profile/__edit-button-img/profile__edit-button-img.css");
@import url("./blocks/profile/__add-button/profile__add-button.css");
@import url("./blocks/profile/__content/profile__content.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/gallery/gallery.css");
@import url("./blocks/gallery/__list/gallery__list.css");
@import url("./blocks/gallery/__item/gallery__item.css");
@import url("./blocks/gallery/__item-title/gallery__item-title.css");
@import url("./blocks/gallery/__img/gallery__img.css");
@import url("./blocks/gallery/__likes/gallery__likes.css");
@import url("./blocks/gallery/__like/gallery__like.css");
@import url("./blocks/gallery/__like/_type/gallry__like_type_is-active.css");
@import url("./blocks/gallery/__item-info/gallery__item-info.css");
@import url("./blocks/gallery/__del-button/gallery__del-button.css");
@import url("./blocks/gallery/__del-button/gallery__del-button-active.css");
@import url("./blocks/gallery/__like-count/gallery__like-count.css");
@import url("./blocks/popup/__popup-img/gallery__popup-img.css");
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__copyright/footer__copyright.css");
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/__gallery-img/popup__gallery-img.css");
@import url("blocks/popup/__content-edit/popup__content-edit.css");
@import url("blocks/popup/__content-edit-avatar/popup__content-edit-avatar.css");
@import url("./blocks/popup/__content-del-card/popup__content-del-card.css");
@import url("./blocks/popup/__content-img/popup__content-img.css");
@import url("blocks/popup/__content-new-card/popup__content-new-card.css");
@import url("./blocks/popup/__header/popup__header.css");
@import url("./blocks/popup/__header-avatar/popup__header-avatar.css");
@import url("./blocks/popup/__input/popup__input.css");
@import url("./blocks/popup/__input/_type/popup__input_type_name.css");
@import url("./blocks/popup/__input/_type/popup__input_type_major.css");
@import url("./blocks/popup/__input/_type/popup__input_type_title.css");
@import url("./blocks/popup/__input/_type/popup__input_type_avatar.css");
@import url("./blocks/popup/__error-message/popup__error-message.css");
@import url("./blocks/popup/__input-error/popup__input-error.css");
@import url("./blocks/popup/__form/popup__form.css");
@import url("./blocks/popup/__form-card/popup__form-card.css");
@import url("./blocks/popup/__form-profile/popup__form-profile.css");
@import url("./blocks/popup/__button/popup__button.css");
@import url("./blocks/popup/__close-button/popup__close-button.css");
@import url("./blocks/popup/__title-img/popup__title-img.css");
@import url("./blocks/popup/__profile/popup__profile.css");
@import url("./blocks/popup/__img/popup__img.css");
@import url("./blocks/popup/__card/popup__card.css");
@import url("./blocks/popup/_type/popup_type_edit.css");
@import url("./blocks/popup/_type/popup_type_new-card.css");
@import url("./blocks/popup/_type/popup_type_image.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/_opened/popup_opened_img.css");
@import url("./blocks/popup/__error-message/_visible/popup__error-message_visible.css");
@import url("./blocks/popup/__button/_disabled/popup__button_disabled.css");
